* text=auto eol=lf

bun.lock linguist-generated=true
**/routeTree.gen.ts linguist-generated=true
**/worker-configuration.d.ts linguist-generated=true
**/*.gen.* linguist-generated=true

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.mp4 binary
